<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.demomaster.huan.quickdevelop">

    <!--android 9.0上使用前台服务，需要添加权限-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 震动权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera2" />
    <uses-feature android:name="android.hardware.camera" /> <!-- 使用照相机权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 自动聚焦权限 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/StartAppTheme">
        <activity android:name=".QDMainFragmentActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.sample.RegisterActivity" />
        <!-- <activity android:name=".sample.CaptureActivity" /> -->
        <activity android:name=".activity.sample.RecycleActivity" />
        <activity android:name=".activity.sample.PickActivity" />
        <activity android:name=".activity.sample.IDCardActivity" />
        <activity android:name="cn.demomaster.huan.quickdeveloplibrary.camera.idcard.CameraIDCardActivity" />
        <activity android:name="cn.demomaster.huan.quickdeveloplibrary.camera.idcard.IDCardActivity" />
        <!-- android:screenOrientation="landscape" -->
        <activity android:name=".activity.sample.CsqliteActivity" />
        <activity android:name=".activity.sample.component.QDialogActivity" />
        <activity android:name=".activity.sample.TabMenuActivity" />
        <activity android:name=".activity.sample.PictureSelectActivity" />
        <activity android:name=".activity.sample.component.LoadingActivity" />
        <activity android:name=".activity.sample.CenterHorizontalActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="cn.demomaster.huan.quickdeveloplibrary.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_path" />
        </provider>

        <activity android:name=".MainActivity" />
        <activity android:name=".activity.sample.component.ToggleButtonActivity" android:label="tooglebutton"/>
        <activity android:name=".activity.sample.actionbar.ActionBarActivity" />
        <activity android:name=".activity.sample.actionbar.ActionBarTipActivity" />
        <activity android:name=".activity.sample.component.RatingBarActivity" />
        <activity android:name=".activity.sample.component.QDActionDialogActivity" />
        <activity android:name=".activity.sample.fragment.BaseFragmentActivity"></activity>

        <service
            android:name=".service.SimpleService"
            android:enabled="true"
            android:process=":guard"/>

        <!-- Message Service -->
        <service android:name=".service.MessageService"/>
        <service
            android:name=".service.GuardService"
            android:enabled="true"
            android:exported="true"
            android:priority="1000"
            android:process=":guard"/>
        <receiver
            android:name=".receiver.ServiceReceiver"
            android:priority="1000"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.demomaster.huan.quickdevelop.service"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <service android:name=".service.UploadFilesIntentService"/>
    </application>

</manifest>