<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.demomaster.huan.quickdevelop">
    <!-- Include required permissions for Google Mobile Ads to run. -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- android:sharedUserId="android.uid.system" -->
    <uses-permission
        android:name="android.permission.ACCESS_MOCK_LOCATION"
        tools:ignore="MockLocation,ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- android 9.0上使用前台服务，需要添加权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 震动权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera2" />
    <uses-feature android:name="android.hardware.camera" /> <!-- 使用照相机权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 自动聚焦权限 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- <uses-permission android:name="android.permission.INSTALL_PACKAGES" /> -->
    <!-- 需要系统权限，系统签名 -->
    <!-- <uses-permission android:name="android.permission.SET_TIME_ZONE"/> -->
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- 修改系统设置 -->
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" /> <!-- 流量监控 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.READ_NETWORK_USAGE_HISTORY"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.BATTERY_STATS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/quickdevelop_ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/quickdevelop_ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/StartAppTheme">
        <activity android:name=".ui.activity.sample.HorizontalDragViewActivity"></activity>
        <activity
            android:name=".ui.activity.sample.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".ui.activity.sample.database.QuickDataActivity" />
        <activity android:name=".ui.activity.sample.SandBoxActivity" />
        <activity android:name=".ui.activity.sample.CrashActivity" /> <!-- requestLegacyExternalStorage 仅仅应用于Android10 -->
        <activity android:name=".QDMainFragmentActivity2" />
        <activity
            android:name=".ui.activity.sample.AdsActivity"
            android:label="@string/title_activity_ads" /> <!-- 声明service组件 -->
        <!--
  <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>
        -->
        <!-- AK鉴权 -->
        <!-- meta-data需要写在application中 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="AuMPh0zN8c1tUwRPGY37pmblqEunsjAO" /> <!-- http://lbsyun.baidu.com/apiconsole/key -->
        <!-- android:theme="@style/SplashTheme" 添加给启动页来显示启动背景  QDMainFragmentActivity -->
        <activity
            android:name=".QDMainFragmentActivity"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="adjustResize"> <!-- android:process=":main" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
<activity
            android:name=".activity.Main3Activity"
            android:label="@string/title_activity_main2"
            android:taskAffinity="com.squareup.leakcanary.${applicationId}"
            android:theme="@style/StartAppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        -->
        <activity android:name=".ui.activity.sample.WifiTestActivity2" />
        <activity android:name=".ui.activity.sample.component.SlidingPanelLayoutActivity" />
        <activity android:name=".ui.activity.sample.RegisterActivity" /> <!-- <activity android:name=".sample.CaptureActivity" /> -->
        <activity android:name=".ui.activity.sample.RecycleActivity" />
        <activity android:name=".ui.activity.sample.PickActivity" />
        <activity android:name=".ui.activity.sample.IDCardActivity" />
        <activity android:name="cn.demomaster.huan.quickdeveloplibrary.camera.idcard.CameraIDCardActivity" /> <!-- android:screenOrientation="landscape" -->
        <activity android:name=".ui.activity.sample.CsqliteActivity" />
        <activity android:name=".ui.activity.sample.component.QDialogActivity" />
        <activity android:name=".ui.activity.sample.TabMenuActivity" />
        <activity android:name=".ui.activity.sample.PictureSelectActivity" />
        <activity android:name=".ui.activity.sample.component.LoadingActivity" />
        <activity android:name=".ui.activity.sample.CenterHorizontalActivity" />
        <activity android:name=".ui.activity.sample.ActionBarActivity" /> <!-- android:authorities="cn.demomaster.huan.quickdeveloplibrary.fileprovider" -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_path" />
        </provider>

        <activity
            android:name=".ui.activity.sample.component.ToggleButtonActivity"
            android:label="tooglebutton" />
        <activity android:name=".ui.activity.sample.actionbar.ActionBarActivity" />
        <activity android:name=".ui.activity.sample.actionbar.ActionBarTipActivity" />
        <activity android:name=".ui.activity.sample.component.QDActionDialogActivity" />
        <activity android:name=".ui.activity.sample.fragment.BaseFragmentActivity" />
        <activity android:name=".ui.activity.sample.fragment.AppletsFragmentActivity" />
        <activity android:name=".ui.fragment.helper.serialport.sample.SerialportMain" />
        <activity android:name=".ui.fragment.helper.serialport.sample.ConsoleActivity" />
        <activity android:name=".ui.fragment.helper.serialport.sample.LoopbackActivity" />
        <activity android:name=".ui.fragment.helper.serialport.sample.Sending01010101Activity" />
        <activity android:name=".ui.fragment.helper.serialport.sample.SerialPortActivity" />
        <activity android:name=".ui.fragment.helper.serialport.sample.SerialPortPreferences" />

        <service android:name=".service.TrafficFloatingService" />
        <service
            android:name=".service.SimpleService"
            android:enabled="true"
            android:process=":guard" /> <!-- Message Service -->
        <service android:name=".service.MessageService" />
        <service
            android:name=".service.GuardService"
            android:enabled="true"
            android:exported="true"
            android:priority="1000"
            android:process=":guard" />

        <receiver
            android:name=".receiver.ServiceReceiver"
            android:enabled="true"
            android:exported="true"
            android:priority="1000">
            <intent-filter>
                <action android:name="cn.demomaster.huan.quickdevelop.service" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver> <!-- AIDL服务端 -->
        <service
            android:name=".aidl.StudentService"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.demomaster.huan.quickdevelop.aidl.StudentService" />
            </intent-filter>
        </service> <!-- 蓝牙监听 -->
        <receiver android:name=".receiver.BlueToothReceiver">
            <intent-filter>
                <action android:name="android.bluetooth.device.action.PAIRING_REQUEST" />
                <action android:name="android.bluetooth.device.action.ACTION_BOND_STATE_CHANGED" />
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED" />
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED" />
                <action android:name="android.bluetooth.device.action.FOUND" />
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECT_REQUESTED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>