<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.demomaster.huan.quickdeveloplibrary">

    <uses-permission android:name="android.permission.INJECT_EVENTS" />
    <!-- 录音权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" /> <!-- android 9.0上使用前台服务，需要添加权限 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.error.ErrorCrashActivity"></activity>
        <!-- android9.0默认支持https不支持http.client，没办法，只能在清单再加一句代码 -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".camera.scan.ScanActivity" />
        <activity android:name=".camera.idcard.IDCardActivity" />
        <activity android:name=".camera.idcard.CameraIDCardActivity" />
        <activity
            android:name=".helper.simplepicture.SimplePictureActivity"
            android:label="@string/image" />
        <activity
            android:name=".helper.simplepicture.PreviewActivity"
            android:label="" />

        <service
            android:name=".jni.BaseService"
            android:enabled="true" />
        <!--
 包含provider会引用依赖包名作为apk包名，引发冲突 <provider
             android:name="android.support.v4.content.FileProvider"
             android:authorities="cn.demomaster.huan.quickdeveloplibrary.fileprovider"
             android:exported="false"
             android:grantUriPermissions="true">
             <meta-data
                 android:name="android.support.FILE_PROVIDER_PATHS"
                 android:resource="@xml/file_provider_path"/>
         </provider>
        -->
        <receiver android:name=".receiver.ApplicationReceiver">
            <intent-filter>

                <!-- <action android:name="ConnectivityManager.CONNECTIVITY_ACTION"/>//这样写是不对的 -->
                <action android:name="cn.demomaster.huan.quickdeveloplibrary.receiver" />
                <!--//此处必需指定action，否则监听不到-->
            </intent-filter>
        </receiver>

        <service android:name=".view.floatview.FloatingService"></service>
        <service android:name=".view.floatview.DebugFloatingService"></service>
        <service android:name=".view.floatview.FloatingMenuService"></service>
        <!--<service android:name=".helper.install.InstallService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config">

            </meta-data>
        </service>-->

        <service
            android:name="cn.demomaster.huan.quickdeveloplibrary.service.QDAccessibilityService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility"/>
        </service>
    </application>

</manifest>