<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.demomaster.huan.quickdeveloplibrary">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config">

        <activity android:name=".camera.scan.ScanActivity" />
        <activity android:name=".camera.idcard.IDCardActivity" />
        <activity android:name=".camera.idcard.CameraIDCardActivity" />
        <activity android:name=".helper.simplepicture.SimplePictureActivity" android:label="@string/image"/>
        <activity android:name=".helper.simplepicture.PreviewActivity" android:label=""/>

       <!-- 包含provider会引用依赖包名作为apk包名，引发冲突 <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="cn.demomaster.huan.quickdeveloplibrary.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_path"/>
        </provider>-->

    </application>

</manifest>